<!DOCTYPE html>
<html>
<head>
 
</head>

<body>
<button onclick="start()">Start</button>
</body>
<script>
  function start(){
    var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange=function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log(this.responseText);
    }
  };
  xhttp.open("GET", "/start", true);
  xhttp.send();
  }
  </script>
</html>
